.reg_container{
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 99vh;
}
.register{
    /* border: 3px solid red; */
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.75);
    border-radius: 20px;
    
    
}
.img_reg{
    /* border: 3px solid green; */
    width: 50%;
    box-shadow: 0px 1px 12px 5px rgba(0,0,0,0.75);
    border-radius: 10px;
}
.form_reg{
    /* border: 3px solid blue; */
    width: 50%;
    padding: 10px;
    box-shadow: 0px 1px 12px 5px rgba(0,0,0,0.75);
    border-radius: 10px;
    background: #ffff;
}
.form_main{
    width: 90%;
}
.img2{
    width: 100%;
    border-radius: 10px;
}
.register_main{
    width: 100%;
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reg_btn{
    background: rgb(52, 52, 235);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color:#ffff;
    font-weight: 600;
    cursor: pointer;
}
.reg_btn:hover{
    background: rgb(107, 107, 209);
}
.span_data{
    color: black;
    font-weight: 600;
}


/* //Mobile Screen */
@media screen and (max-width: 450px) {
    
    .img_reg{
        display: none;
    }
    .form_reg{
        width: 100%;
        padding: 10px;
        /* border: 5px solid green; */
    }
    .form_main{
        width: 100%;
        /* border: 3px solid red; */
    }
    .register{
        width: 80%;
        background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    
    }
    }